<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card card-statistics card-top">
        <div class="row">
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                <div class="wrapper text-center text-sm-left">
                  <p class="card-text mb-0 text">New Users</p>
                  <div class="fluid-container">
                    <h3 class="card-title mb-0 num">65,650</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                <div class="wrapper text-center text-sm-left">
                  <p class="card-text mb-0 text">New Feedbacks</p>
                  <div class="fluid-container">
                    <h3 class="card-title mb-0 num">32,604</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                <div class="wrapper text-center text-sm-left">
                  <p class="card-text mb-0 text">Employees</p>
                  <div class="fluid-container">
                    <h3 class="card-title mb-0 num">17,583</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                <div class="wrapper text-center text-sm-left">
                  <p class="card-text mb-0 text">Total Sales</p>
                  <div class="fluid-container">
                    <h3 class="card-title mb-0 num">61,119</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-centers" style="margin-left: 0%;">
      <div class="card col-md-4 col-sm-4 mr-3 pb-1 grid-margin stretch-card">
        <div class="card-body">
          <img src="/src/assets/index.jpeg" class="img-lg rounded-circle mb-2" alt="profile image">
          <h4 class="num">Adesh Gupta</h4>
          <p class="text-muted">CEO</p>
          <p class="mt-4 card-text nums">
            Liberty Shoes Limited (LSL) is an Indian shoe company, based in Karnal, Haryana.
          </p>
          <button class="btn btn-primary btn-sm mt-3 mb-4">Follow</button>
          <div class="border-top pt-3">
            <div class="row">
              <div class="col-sm-4">
                <h6 class="nums">5896</h6>
                <p class="nums">Post</p>
              </div>
              <div class="col-sm-4">
                <h6 class="nums">1596</h6>
                <p class="nums">Followers</p>
              </div>
              <div class="col-sm-4">
                <h6 class="nums">7896</h6>
                <p class="nums">Likes</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-md-4 col-sm-4 m-1 pb-2 card-text grid-margin stretch-card">
        <div class="card-body pb-0">
          <div class="wrapper border-bottom pt-3">
            <h5 class="mb-0 text-gray">Top Products</h5>
            <h1 class="mb-0 num">598,486</h1>
            <p class="mb-4 nums">6.5% change from today</p>
          </div>
          <div class="pt-4 wrapper">
            <h5 class="mb-0 text-gray">Support Cases</h5>
            <h1 class="mb-0 num">323,360</h1>
            <p class="nums">2.5% change from yesterday</p>
          </div>
          <!-- <canvas id="product-area-chart" height="200" style="display: block; width: 353px; height: 200px;" width="353" class="chartjs-render-monitor"></canvas> -->
        </div>
      </div>

      <div class="card col-md-4 col-sm-4 ml-3 grid-margin stretch-card">
        <div class="card-body">
          <div class="w-75 mx-auto">
            <div class="d-flex justify-content-between text-center mb-2">
              <div class="wrapper">
                <h4 class="num">6,256</h4>
                <small class="text-muted ">Total sales</small>
              </div>
              <div class="wrapper">
                <h4 class="num">8569</h4>
                <small class="text-muted">Open Campaign</small>
              </div>
            </div>
          </div>
          <div id="morris-line-example" style="height: 250px; position: relative;">
            <img class="line" src="/src/assets/graph.svg">
          </div>
          <div class="w-75 mx-auto">
            <div class="d-flex justify-content-between text-center mt-5">
              <div class="wrapper">
                <h4 class="num">5136</h4>
                <small class="text-muted ">Online Sales</small>
              </div>
              <div class="wrapper">
                <h4 class="num">4596</h4>
                <small class="text-muted ">Store Sales</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row table-responsive">
      <table class="table center-aligned-table">
        <thead>
          <tr class="bg-light">
            <th class="border-bottom-0">ID</th>
            <th class="border-bottom-0">Assignee</th>
            <th class="border-bottom-0">Task Details</th>
            <th class="border-bottom-0">Payment Method</th>
            <th class="border-bottom-0">Payment Status</th>
            <th class="border-bottom-0">Amount</th>
            <th class="border-bottom-0">Tracking Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#320</td>
            <td>Mark C.Diaz</td>
            <td>Support of thteme</td>
            <td>Credit card</td>
            <td><label class="badge badge-success">Approved</label></td>
            <td>$12,245</td>
            <td>JPBBN435893458</td>
          </tr>
          <tr>
            <td>#321</td>
            <td>Jose D</td>
            <td>Verify your email address !</td>
            <td>Internet banking</td>
            <td><label class="badge badge-warning">Pending</label></td>
            <td>$12,245</td>
            <td>BDYBN435893325</td>
          </tr>
          <tr>
            <td>#322</td>
            <td>Philips T</td>
            <td>Item support message send</td>
            <td>Credit card</td>
            <td><label class="badge badge-success">Approved</label></td>
            <td>$12,245</td>
            <td>JSNTN435884258</td>
          </tr>
          <tr>
            <td>#323</td>
            <td>Luke Pixel</td>
            <td>New submission on website</td>
            <td>Cash on delivery</td>
            <td><label class="badge badge-danger">Rejected</label></td>
            <td>$12,245</td>
            <td>JPABT435893678</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row" style="margin-left: 7%; margin-top: 2%;">
      <div class="col-md-6 current-chart-card">
        <div class="card">
          <div class="card-body">
            <div class="chartjs-size-monitor"
              style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <h5 class="card-title num">The Current Chart</h5>
            <canvas id="current-chart" height="164" width="493" class="chartjs-render-monitor"
              style="display: block; width: 493px; height: 164px;"></canvas>
          </div>
          <div class="border-top py-4 px-4">
            <p class="mb-0 text-gray">Projects Status</p>
            <div class="d-flex align-items-end">
              <h2 class="mb-0 display-2 font-weight-semibold num">76,533</h2>
              <p class="mt">PCS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 update-card">
        <div class="card" style="padding-bottom: 7.8%;">
          <div class="card-body">
            <h5 class="card-title num">Updates</h5>
            <ul class="bullet-line-list">
              <li>
                <h6 class="num">User confirmation</h6>
                <p class="mb-0 nums">Donec rutrum congue leo eget malesuada.</p>
                <p class="text-muted nums">
                  <i class="mdi mdi-clock"></i>
                  7 months ago.
                </p>
              </li>
              <li>
                <h6 class="num">Continuous evaluation</h6>
                <p class="mb-0 nums">Vivamus suscipit tortor eget felis porttitor volutpat.</p>
                <p class="text-muted nums">
                  <i class="mdi mdi-clock"></i>
                  7 months ago.
                </p>
              </li>
              <li>
                <h6 class="num">Promotion</h6>
                <p class="mb-0 nums">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                <p class="text-muted nums">
                  <i class="mdi mdi-clock"></i>
                  7 months ago.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Manage Tickets</h5>
            <div class="fluid-container">
              <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                <div class="col-md-1">
                  <img class="img-sm rounded-circle mb-4 mb-md-0" src="images/faces/face1.jpg" alt="profile image">
                </div>
                <div class="ticket-details col-md-9">
                  <div class="d-flex">
                    <p class="text-dark font-weight-bold mr-2 mb-0 no-wrap">James :</p>
                    <p class="font-weight-medium mr-1 mb-0">[#23047]</p>
                    <p class="font-weight-semibold mb-0 ellipsis">Donec rutrum congue leo eget malesuada.</p>
                  </div>
                  <p class="text-small text-gray mb-2">Donec rutrum congue leo eget malesuada. Quisque velit nisi,
                    pretium ut lacinia in, elementum id enim vivamus.</p>
                  <div class="row text-gray d-md-flex d-none">
                    <div class="col-4 d-flex">
                      <p class="mb-0 mr-2 text-muted text-muted">Last responded :</p>
                      <p class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</p>
                    </div>
                    <div class="col-4 d-flex">
                      <p class="mb-0 mr-2 text-muted text-muted">Due in :</p>
                      <p class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</p>
                    </div>
                  </div>
                </div>
                <div class="ticket-actions col-md-2">
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Manage
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><i class="fa fa-reply fa-fw"></i>Quick reply</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-history fa-fw"></i>Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"><i class="fa fa-check text-success fa-fw"></i>Resolve Issue</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-times text-danger fa-fw"></i>Close Issue</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                <div class="col-md-1">
                  <img class="img-sm rounded-circle mb-4 mb-md-0" src="images/faces/face2.jpg" alt="profile image">
                </div>
                <div class="ticket-details col-md-9">
                  <div class="d-flex">
                    <p class="text-dark font-weight-bold mr-2 mb-0 no-wrap">Stella :</p>
                    <p class="font-weight-medium mr-1 mb-0">[#23135]</p>
                    <p class="font-weight-semibold mb-0 ellipsis">Curabitur aliquet quam id dui posuere blandit.</p>
                  </div>
                  <p class="text-small text-gray mb-2">Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus
                    nibh. Curabitur non nulla sit amet nisl.</p>
                  <div class="row text-gray d-md-flex d-none">
                    <div class="col-4 d-flex">
                      <p class="mb-0 mr-2 text-muted">Last responded :</p>
                      <p class="Last-responded mr-2 mb-0 text-muted">3 hours ago</p>
                    </div>
                    <div class="col-4 d-flex">
                      <p class="mb-0 mr-2 text-muted">Due in :</p>
                      <p class="Last-responded mr-2 mb-0 text-muted">2 Days</p>
                    </div>
                  </div>
                </div>
                <div class="ticket-actions col-md-2">
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Manage
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><i class="fa fa-reply fa-fw"></i>Quick reply</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-history fa-fw"></i>Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"><i class="fa fa-check text-success fa-fw"></i>Resolve Issue</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-times text-danger fa-fw"></i>Close Issue</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ticket-card mt-3">
                <div class="col-md-1">
                  <img class="img-sm rounded-circle mb-4 mb-md-0" src="images/faces/face3.jpg" alt="profile image">
                </div>
                <div class="ticket-details col-md-9">
                  <div class="d-flex">
                    <p class="text-dark font-weight-bold mr-2 mb-0 no-wrap">John Doe :</p>
                    <p class="font-weight-medium mr-1 mb-0">[#23246]</p>
                    <p class="font-weight-semibold mb-0 ellipsis">Mauris blandit aliquet elit, eget tincidunt nibh
                      pulvinar.</p>
                  </div>
                  <p class="text-small text-gray mb-2">Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
                    risus. Lorem ipsum dolor sit amet.</p>
                  <div class="row text-gray d-md-flex d-none">
                    <div class="col-4 d-flex">
                      <p class="mb-0 mr-2 text-muted">Last responded :</p>
                      <p class="Last-responded mr-2 mb-0 text-muted">3 hours ago</p>
                    </div>
                    <div class="col-4 d-flex">
                      <p class="mb-0 mr-2 text-muted">Due in :</p>
                      <p class="Last-responded mr-2 mb-0 text-muted">2 Days</p>
                    </div>
                  </div>
                </div>
                <div class="ticket-actions col-md-2">
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Manage
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><i class="fa fa-reply fa-fw"></i>Quick reply</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-history fa-fw"></i>Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"><i class="fa fa-check text-success fa-fw"></i>Resolve Issue</a>
                      <a class="dropdown-item" href="#"><i class="fa fa-times text-danger fa-fw"></i>Close Issue</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>