<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card card-statistics card-top">
        <div class="row card-color">
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="fa fa-users text-primary icon-lg"></i>
                <div class="text-center">
                  <p class="card-text mb-0 text">New Users</p>
                  <div class="fluid-container">
                    <h3 class="mb-0 default-color-dark">65,650</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="fa fa-check-square-o text-primary icon-lg"></i>
                <div class="text-center">
                  <p class="card-text mb-0 text">New Feedbacks</p>
                  <div class="fluid-container">
                    <h3 class="mb-0 default-color-dark">32,604</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="fa fa-trophy text-primary icon-lg"></i>
                <div class="text-center">
                  <p class="card-text mb-0 text">Employees</p>
                  <div class="fluid-container">
                    <h3 class="mb-0 default-color-dark">17,583</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="fa fa-crosshairs text-primary icon-lg"></i>
                <div class="text-center">
                  <p class="card-text mb-0 text">Total Sales</p>
                  <div class="fluid-container">
                    <h3 class="mb-0 default-color-dark">61,119</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center" style="margin-left: 0%;">
      <div class="card col-md-4 mr-3 card-bottom-1 grid-margin stretch-card card-backgrond">
        <div class="card-body">
          <img src="/src/assets/index.jpeg" class="img-lg rounded-circle mb-2" alt="profile image">
          <h4 class="default-color-dark">Adesh Gupta</h4>
          <p class="text-muted">CEO</p>
          <p class="mt-4 card-text default-color-light">
            Liberty Shoes Limited (LSL) is an Indian shoe company, based in Karnal, Haryana.
          </p>
          <button class="btn btn-group mt-3 mb-4">Follow</button>
          <div class="border-top pt-3">
            <div class="row">
              <div class="col-sm-4">
                <h6 class="default-color-light">5896</h6>
                <p class="default-color-light">Post</p>
              </div>
              <div class="col-sm-4">
                <h6 class="default-color-light">1596</h6>
                <p class="default-color-light">Followers</p>
              </div>
              <div class="col-sm-4">
                <h6 class="default-color-light">7896</h6>
                <p class="default-color-light">Likes</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-md-4 m-1 card-bottom-2 card-text grid-margin stretch-card card-backgrond">
        <div class="card-body pb-0">
          <div class="wrapper border-bottom pt-3">
            <h5 class="mb-0 text-gray">Top Products</h5>
            <h1 class="mb-0 default-color-dark">598,486</h1>
            <p class="mb-4 default-color-light">6.5% change from today</p>
          </div>
          <div class="wrapper pt-4">
            <h5 class="mb-0 text-gray">Support Cases</h5>
            <h1 class="mb-0 default-color-dark">323,360</h1>
            <p class="default-color-light">2.5% change from yesterday</p>
          </div>
        </div>
      </div>

      <div class="card col-md-4 card-left-3 grid-margin stretch-card card-backgrond">
        <div class="card-body">
          <div class="w-75 mx-auto">
            <div class="d-flex justify-content-between text-center mb-2">
              <div class="wrapper">
                <h4 class="default-color-dark">6,256</h4>
                <small class="text-muted ">Total sales</small>
              </div>
              <div class="wrapper">
                <h4 class="default-color-dark">8569</h4>
                <small class="text-muted">Open Campaign</small>
              </div>
            </div>
          </div>
          <div id="morris-line-example" style="height: 250px; position: relative;">
            <img class="line" src="/src/assets/graph.svg">
          </div>
          <div class="w-75 mx-auto">
            <div class="d-flex justify-content-between text-center mt-5">
              <div class="wrapper">
                <h4 class="default-color-dark">5136</h4>
                <small class="text-muted ">Online Sales</small>
              </div>
              <div class="wrapper">
                <h4 class="default-color-dark">4596</h4>
                <small class="text-muted ">Store Sales</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row table-responsive">
      <table class="table center-aligned-table">
        <thead>
          <tr class="bg-light">
            <th class="default-color-dark">ID</th>
            <th class="default-color-dark">Assignee</th>
            <th class="default-color-dark">Task Details</th>
            <th class="default-color-dark">Payment Method</th>
            <th class="default-color-dark">Payment Status</th>
            <th class="default-color-dark">Amount</th>
            <th class="default-color-dark">Tracking Number</th>
          </tr>
        </thead>
        <tbody class="tbody-color">
          <tr>
            <td class="default-color-light">#320</td>
            <td class="default-color-light">Mark C.Diaz</td>
            <td class="default-color-light">Support of thteme</td>
            <td class="default-color-light">Credit card</td>
            <td><label class="badge badge-success">Approved</label></td>
            <td class="default-color-light">$12,245</td>
            <td class="default-color-light">JPBBN435893458</td>
          </tr>
          <tr>
            <td class="default-color-light">#321</td>
            <td class="default-color-light">Jose D</td>
            <td class="default-color-light">Verify your email address !</td>
            <td class="default-color-light">Internet banking</td>
            <td><label class="badge badge-warning">Pending</label></td>
            <td class="default-color-light">$12,245</td>
            <td class="default-color-light">BDYBN435893325</td>
          </tr>
          <tr>
            <td class="default-color-light">#322</td>
            <td class="default-color-light">Philips T</td>
            <td class="default-color-light">Item support message send</td>
            <td class="default-color-light">Credit card</td>
            <td><label class="badge badge-success">Approved</label></td>
            <td class="default-color-light">$12,245</td>
            <td class="default-color-light">JSNTN435884258</td>
          </tr>
          <tr>
            <td class="default-color-light">#323</td>
            <td class="default-color-light">Luke Pixel</td>
            <td class="default-color-light">New submission on website</td>
            <td class="default-color-light">Cash on delivery</td>
            <td><label class="badge badge-danger">Rejected</label></td>
            <td class="default-color-light">$12,245</td>
            <td class="default-color-light">JPABT435893678</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row" style="margin-left: 7%; margin-top: 2%;">
      <div class="col-md-6 current-chart-card">
        <div class="card card-backgrond">
          <div class="card-body card-spacing">
            <h5 class="default-color-dark">The Current Chart</h5>
          </div>
          <div class="border-top py-4 px-4">
            <p class="mb-0 text-gray">Projects Status</p>
            <div class="d-flex align-items-end">
              <h2 class="mb-0 mt-1 display-2 font-weight-semibold default-color-dark">76,533</h2>
              <p class="pcs">PCS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 update-card">
        <div class="card card-backgrond" style="padding-bottom: 7.8%;">
          <div class="card-body">
            <h5 class="default-color-dark">Updates</h5>
            <ul class="bullet-line-list">
              <li>
                <h6 class="default-color-dark">User confirmation</h6>
                <p class="mb-0 default-color-light">Donec rutrum congue leo eget malesuada.</p>
                <p class="text-muted default-color-light">
                  <i class="mdi mdi-clock"></i>
                  7 months ago.
                </p>
              </li>
              <li>
                <h6 class="default-color-dark">Continuous evaluation</h6>
                <p class="mb-0 default-color-light">Vivamus suscipit tortor eget felis porttitor volutpat.</p>
                <p class="text-muted default-color-light">
                  <i class="mdi mdi-clock"></i>
                  7 months ago.
                </p>
              </li>
              <li>
                <h6 class="default-color-dark">Promotion</h6>
                <p class="mb-0 default-color-light">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                </p>
                <p class="text-muted default-color-light">
                  <i class="mdi mdi-clock"></i>
                  7 months ago.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card card-last card-backgrond">
          <div class="card-body">
            <h5 class="card-title mb-4 default-color-dark">Manage Tickets</h5>
            <div class="row border-bottom mt-3">
              <div class="col-md-1">
                <img class="img-sm rounded-circle mb-4 mb-md-0" src="/src/assets/face1.jpg" alt="profile image">
              </div>
              <div class="col-md-9 mb-3">
                <div class="d-flex">
                  <p class="text-dark font-weight-bold mr-2 mb-0 no-wrap default-color-dark">James :</p>
                  <p class="font-weight-medium mr-1 mb-0 default-color-light">[#23047]</p>
                  <p class="font-weight-semibold mb-0 ellipsis default-color-dark">Donec rutrum congue leo eget
                    malesuada.</p>
                </div>
                <p class="text-gray mb-2">Donec rutrum congue leo eget malesuada. Quisque velit nisi,
                  pretium ut lacinia in, elementum id enim vivamus.</p>
                <div class="row text-gray d-md-flex d-none">
                  <div class="col-md-6 d-flex">
                    <p class="mb-0 mr-2 text-muted">Last responded :</p>
                    <p class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</p>
                  </div>
                  <div class="col-md-6 d-flex">
                    <p class="mb-0 mr-2 text-muted">Due in :</p>
                    <p class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="dropdown">
                  <button type="button" class="btn btn-group dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Manage
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fa fa-reply fa-fw"></i>Quick reply</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-history fa-fw"></i>Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-check text-success fa-fw"></i>Resolve Issue</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-times text-danger fa-fw"></i>Close Issue</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row border-bottom mt-3">
              <div class="col-md-1">
                <img class="img-sm rounded-circle mb-4 mb-md-0" src="/src/assets/face2.jpg" alt="profile image">
              </div>
              <div class="col-md-9 mb-3">
                <div class="d-flex">
                  <p class="text-dark font-weight-bold mr-2 mb-0 no-wrap default-color-dark">Stella :</p>
                  <p class="font-weight-medium mr-1 mb-0 default-color-light">[#23135]</p>
                  <p class="font-weight-semibold mb-0 ellipsis default-color-dark">Curabitur aliquet quam id dui posuere
                    blandit.</p>
                </div>
                <p class="text-gray mb-2">Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus
                  nibh. Curabitur non nulla sit amet nisl.</p>
                <div class="row text-gray d-md-flex d-none">
                  <div class="col-md-6 d-flex">
                    <p class="mb-0 mr-2 text-muted">Last responded :</p>
                    <p class="Last-responded mr-2 mb-0 text-muted">3 hours ago</p>
                  </div>
                  <div class="col-md-6 d-flex">
                    <p class="mb-0 mr-2 text-muted">Due in :</p>
                    <p class="Last-responded mr-2 mb-0 text-muted">2 Days</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="dropdown">
                  <button type="button" class="btn btn-group dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Manage
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fa fa-reply fa-fw"></i>Quick reply</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-history fa-fw"></i>Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-check text-success fa-fw"></i>Resolve Issue</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-times text-danger fa-fw"></i>Close Issue</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-1">
                <img class="img-sm rounded-circle mb-4 mb-md-0" src="/src/assets/face3.jpg" alt="profile image">
              </div>
              <div class="col-md-9">
                <div class="d-flex">
                  <p class="text-dark font-weight-bold mr-2 mb-0 no-wrap default-color-dark">John Doe :</p>
                  <p class="font-weight-medium mr-1 mb-0 default-color-light">[#23246]</p>
                  <p class="font-weight-semibold mb-0 ellipsis default-color-dark">Mauris blandit aliquet elit, eget
                    tincidunt nibh
                    pulvinar.</p>
                </div>
                <p class="text-gray mb-2">Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
                  risus. Lorem ipsum dolor sit amet.</p>
                <div class="row text-gray d-md-flex d-none">
                  <div class="col-md-6 d-flex">
                    <p class="mb-0 mr-2 text-muted">Last responded :</p>
                    <p class="Last-responded mr-2 mb-0 text-muted">3 hours ago</p>
                  </div>
                  <div class="col-md-6 d-flex">
                    <p class="mb-0 mr-2 text-muted">Due in :</p>
                    <p class="Last-responded mr-2 mb-0 text-muted">2 Days</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="dropdown">
                  <button type="button" class="btn btn-group dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Manage
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fa fa-reply fa-fw"></i>Quick reply</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-history fa-fw"></i>Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-check text-success fa-fw"></i>Resolve Issue</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-times text-danger fa-fw"></i>Close Issue</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>