<div class="content-wrapper">
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title default-color-dark">Normal Badges</h4>
          <p class="card-description default-color-light">Add class <code>.badge</code></p>
          <div class="template-demo">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th class="pl-0 default-color-dark">Item</th>
                  <th class="text-right default-color-dark">Label</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pl-0 default-color-light">Default label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-primary border-radius-card1">Default</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Primary label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-info border-radius-card1">Primary</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Danger label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-danger border-radius-card1">Danger</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Success label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-success border-radius-card1">Success</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Warning label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-warning border-radius-card1">Warning</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title default-color-dark">Badge Pills</h4>
          <p class="card-description default-color-light">Add class <code>.badge-pill</code></p>
          <div class="template-demo">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th class="pl-0 default-color-dark">Item</th>
                  <th class="text-right default-color-dark">Label</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pl-0 default-color-light">Default label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-primary badge-pill">Default</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Primary label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-info badge-pill">Primary</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Danger label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-danger badge-pill">Danger</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Success label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-success badge-pill">Success</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 default-color-light">Warning label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-warning badge-pill">Warning</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title default-color-dark">Badge Outlined Variations</h4>
          <p class="card-description default-color-light">Add class <code>.badge-outline-*</code></p>
          <div class="template-demo">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th class="pl-0 default-color-dark">Item</th>
                  <th class="text-right default-color-dark">Label</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pl-0">
                    <div class="badge item-outline-default badge-pill">Default</div>
                  </td>
                  <td class="pr-0 text-right">
                    <div class="badge label-outline-default">Default</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">
                    <div class="badge item-outline-primary badge-pill">Primary</div>
                  </td>
                  <td class="pr-0 text-right">
                    <div class="badge label-outline-primary">Primary</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">
                    <div class="badge item-outline-danger badge-pill">Danger</div>
                  </td>
                  <td class="pr-0 text-right">
                    <div class="badge label-outline-danger">Danger</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">
                    <div class="badge item-outline-success badge-pill">Success</div>
                  </td>
                  <td class="pr-0 text-right">
                    <div class="badge label-outline-success">Success</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">
                    <div class="badge item-outline-warning badge-pill">Warning</div>
                  </td>
                  <td class="pr-0 text-right">
                    <div class="badge label-outline-warning">Warning</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>