<div class="content-wrapper">
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title default-color-dark">Normal Badges</h4>
          <p class="card-description default-color-light">Add class <code>.badge</code></p>
          <div class="template-demo">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th class="pl-0 default-color-dark">Item</th>
                  <th class="text-right default-color-dark">Label</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pl-0">Default label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-primary">Default</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">Primary label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-info">Primary</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">Danger label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-danger">Danger</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">Success label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-success">Success</div>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0">Warning label</td>
                  <td class="pr-0 text-right">
                    <div class="badge badge-warning">Warning</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>