<!--The content below is only a placeholder and can be replaced.-->
<div class="outer-div">

  <div class="inner-div">
    <nav class="shadow col-lg-12 col-12">

      <div class="rows">
        <div class="col-md-6">
          <img src="../assets/logo-inverse.svg" class="header">
        </div>
        <div class="col-md-3">
          <input class="form-control search-bar" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-md-3">
          <i class="fa fa-bell-o"></i>
        </div>
      </div>

      <div class="row labels">

        <div class="col-xl-2 headwid">
          <a class="btn btn-outline-light btn-lg" routerLink="/dashboard" routerLinkActive="active"
            (click)="HeaderName= 'dashboard'"
            [ngClass]="{'before':HeaderName!= 'dashboard','after':HeaderName=='dashboard'}">
            <i class="fa fa-desktop icon-color pr-4"></i>DASHBOARD
          </a>
        </div>
        <div class="col-xl-2 headwid">
          <a class="btn btn-outline-light btn-lg" routerLink="/widgets" routerLinkActive="active"
            (click)="HeaderName= 'widgets'" [ngClass]="{'before':HeaderName!= 'widgets','after':HeaderName=='widgets'}">
            <i class="fa fa fa-compass icon-color pr-4"></i>WIDGETS</a>
        </div>
        <div class="col-xl-2 dropdown headwid">
          <a class="btn dropbtn btn-outline-light btn-lg textheader">
            <i class="fa fa-empire icon-color pr-4"></i>UI ELEMENTS
            <img src="../assets/arrow_drop_down-24px.svg">
          </a>
          <div class="col-12 dropdown-content">
            <a class="">Basic Elements</a>
            <!-- <a href="">Accordion</a>
          <a href="#">Button</a> -->
            <a href="badges">Badges</a>
            <!-- <a href="#">Breadcrumbs</a>
          <a href="#">Dropdown</a>
          <a href="#">Modals</a> -->
            <a href="progressbar">Progress bar</a>
            <!-- <a href="#">Pagination</a>
          <a href="#">Tabs</a>
          <a href="#">Typography</a>
          <a href="#">Tooltip</a>
          <a class="">Advanced Elements</a>
          <a class="">Table</a>
          <a class="">Icons</a> -->
          </div>
        </div>
        <div class="col-xl-2 dropdown headwid">
          <a class="btn dropbtn btn-outline-light btn-lg textheader">
            <i class="fa fa-flag-o icon-color pr-4"></i>PAGES
            <img src="../assets/arrow_drop_down-24px.svg">
          </a>
          <div class="dropdown-content">
            <a href="#">Login</a>
            <a href="#">Register</a>
            <a href="#">Lockscreen</a>
          </div>
        </div>
        <div class="col-xl-2 dropdown headwid">
          <a class="btn dropbtn btn-outline-light btn-lg textheader">
            <i class="fa fa fa-adn icon-color pr-4"></i>FORMS
            <img src="../assets/arrow_drop_down-24px.svg">
          </a>
          <div class="dropdown-content">
            <a href="#">Basic Elements</a>
            <a href="#">Advanced Elements</a>
            <a href="#">Validation</a>
          </div>
        </div>
        <div class="col-xl-2 dropdown headwid">
          <a class="btn dropbtn btn-outline-light btn-lg textheader">
            <i class="fa fa fa-asterisk icon-color pr-4"></i>APPS
            <img src="../assets/arrow_drop_down-24px.svg">
          </a>
          <div class="dropdown-content">
            <a href="#">Email</a>
            <a href="#">Calender</a>
            <a href="#">Todo List</a>
            <a href="#">Gallery</a>
          </div>
        </div>

      </div>

    </nav>
  </div>


  <router-outlet></router-outlet>
</div>