/* You can add global styles to this file, and also import other style files */
.num{
    font-weight: bolder;
    color: rgb(53, 65, 104);
}

.nums{
    font-weight: normal;
    color: rgb(53, 65, 104);
}