<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6 grid-margin">
      <div class="card card-statistics mt-4 pb-0">
        <div class="card-body">
          <h4 class="card-title mb-0 num">Statistics</h4>
          <div class="row d-flex justify-content-between align-items-center">
            <div class="d-inline-block col-md-6">
              <div class="row d-flex">
                <h2 class="mb-0 ml-2 num">$10,200</h2>
                <div class="row d-flex align-items-center time-position">
                  <i class="fa fa-clock-o text-muted"></i>
                  <div class="row ml-1 mb-0 nums">Updated: 9:10am</div>
                </div>
              </div>
              <small class="text-gray">Raised from 89 orders.</small>
            </div>
            <div class="d-inline-block col-md-6">
              <div class="bg-success px-4 py-2 rounded">
                <i class="mdi mdi-buffer text-white icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin">
      <div class="card card-order mt-4 pb-0">
        <div class="card-body">
          <h4 class="card-title mb-0 num">Daily Order</h4>
          <div class="row d-flex justify-content-between align-items-center">
            <div class="d-inline-block col-md-6">
              <div class="row d-flex">
                <h2 class="mb-0 ml-2 num">$2256</h2>
                <div class="row d-flex align-items-center time-position">
                  <i class="fa fa-clock-o text-muted"></i>
                  <div class="row ml-1 mb-0 nums">Updated: 05:42pm</div>
                </div>
              </div>
              <small class="text-gray">hey, let’s have lunch together</small>
            </div>
            <div class="d-inline-block col-md-6">
              <div class="bg-warning px-4 py-2 rounded">
                <i class="mdi mdi-wallet text-white icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card card-l2-1">
        <div class="card-body">
          <div class="d-flex row">
            <img src="/src/assets/face11.jpg" class="img-lg rounded" alt="profile image">
            <div class="ml-3">
              <h6 class="num" style="font-size: large;">Maria</h6>
              <p class="text-muted">maria@gmail.com</p>
              <p class="mt-2 text-success font-weight-bold">Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card card-l2-2">
        <div class="card-body">
          <div class="d-flex row">
            <img src="/src/assets/face12.jpg" class="img-lg rounded" alt="profile image">
            <div class="ml-3">
              <h6 class="num" style="font-size: large;">Thomas Edison</h6>
              <p class="text-muted">thomas@gmail.com</p>
              <p class="mt-2 text-success font-weight-bold">Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card card-l2-3">
        <div class="card-body">
          <div class="d-flex row">
            <img src="/src/assets/face13.jpg" class="img-lg rounded" alt="profile image">
            <div class="ml-3">
              <h6 class="num" style="font-size: large;">Edward</h6>
              <p class="text-muted">edward@gmail.com</p>
              <p class="mt-2 text-success font-weight-bold">Tester</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- card layer social media -->
  <div class="row">
    <div class="col-md-4 grid-margin">
      <div class="card card-l1-1">
        <div class="card-body">
          <div class="row d-flex flex-row align-items-top text-align">
            <i class="fa fa-facebook text-facebook"></i>
            <div class="ml-3">
              <h6 class="text-facebook">2.62 Subscribers</h6>
              <p class="mt-2 text-muted card-text">You main list growing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin">
      <div class="card card-l1-2">
        <div class="card-body">
          <div class="row d-flex flex-row align-items-top text-align">
            <i class="fa fa-linkedin text-linkedin"></i>
            <div class="ml-3">
              <h6 class="text-linkedin">5k connections</h6>
              <p class="mt-2 text-muted card-text">You main list growing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin">
      <div class="card card-l1-3">
        <div class="card-body">
          <div class="row d-flex flex-row align-items-top text-align">
            <i class="fa fa-twitter text-twitter"></i>
            <div class="ml-3">
              <h6 class="text-twitter">3k followers</h6>
              <p class="mt-2 text-muted card-text">You main list growing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card  card-l2-1">
        <div class="card-body">
          <h4 class="num">Todo</h4>
          <div class="row add-items d-flex">
            <input type="text" class="list-input" placeholder="What do you need to do today?">
            <button class="btn btn-sm font-weight-bold">Add</button>
          </div>
          <div class="list-wrapper">
            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
              <li>
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Meeting with Alisa
                    <i class="input-helper"></i></label>
                </div>
                <i class="remove mdi mdi-close-circle-outline"></i>
              </li>
              <li class="completed">
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked="">
                    Call John
                    <i class="input-helper"></i></label>
                </div>
                <i class="remove mdi mdi-close-circle-outline"></i>
              </li>
              <li>
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Create invoice
                    <i class="input-helper"></i></label>
                </div>
                <i class="remove mdi mdi-close-circle-outline"></i>
              </li>
              <li>
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Print Statements
                    <i class="input-helper"></i></label>
                </div>
                <i class="remove mdi mdi-close-circle-outline"></i>
              </li>
              <li class="completed">
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked="">
                    Prepare for presentation
                    <i class="input-helper"></i></label>
                </div>
                <i class="remove mdi mdi-close-circle-outline"></i>
              </li>
              <li>
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Pick up kids from school
                    <i class="input-helper"></i></label>
                </div>
                <i class="remove mdi mdi-close-circle-outline"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card text-center card-l2-2">
        <div class="card-body">
          <img src="/src/assets/index.jpeg" class="img-lg rounded-circle mb-2" alt="profile image">
          <h4 class="num">Adesh Gupta</h4>
          <p class="text-muted">CEO</p>
          <p class="mt-4 card-text nums">
            Liberty Shoes Limited (LSL) is an Indian shoe company, based in Karnal, Haryana.
          </p>
          <button class="btn btn-sm mt-3">Follow</button>
          <div class="border-top pt-3">
            <div class="row">
              <div class="col-sm-4">
                <h6 class="num">5896</h6>
                <p class="nums">Post</p>
              </div>
              <div class="col-sm-4">
                <h6 class="num">1596</h6>
                <p class="nums">Followers</p>
              </div>
              <div class="col-sm-4">
                <h6 class="num">7896</h6>
                <p class="nums">Likes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card card-l2-3">
        <div class="card-body">
          <h4 class="num">Updates</h4>
          <ul class="bullet-line-list">
            <li>
              <h6 class="num">User confirmation</h6>
              <p class="mb-0 nums">Lorem Ipsum is simply dummy text of the printing </p>
              <p class="text-muted">
                <i class="mdi mdi-clock"></i>
                7 months ago.
              </p>
            </li>
            <li>
              <h6 class="num">Continuous evaluation</h6>
              <p class="mb-0 nums">Lorem Ipsum is simply dummy text of the printing </p>
              <p class="text-muted">
                <i class="mdi mdi-clock"></i>
                7 months ago.
              </p>
            </li>
            <li>
              <h6 class="num">Promotion</h6>
              <p class="mb-0 nums">Lorem Ipsum is simply dummy text of the printing </p>
              <p class="text-muted">
                <i class="mdi mdi-clock"></i>
                7 months ago.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card card-l3-1">
        <div class="card-body">
          <div class="row d-flex justify-content-between">
            <h4 class="num Activity-text-space">Activity</h4>
            <i class="fa fa-ellipsis-v menu-space"></i>
          </div>
          <p class="card-description nums">What's people doing right now</p>
          <div class="row list d-flex align-items-center border-bottom py-3 pb-4 pt-2">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC1.jpg" alt="">
            <div class="wrapper w-100 ml-3 mt-0">
              <p class="mb-0 nums mt-4"><b class="num">Dobrick </b>posted in Material</p>
              <div class="row d-flex justify-content-between align-items-center last-cards-wid">
                <div class="row d-flex align-items-center Activity-spacing">
                  <i class="fa fa-clock-o text-muted"></i>
                  <p class="mb-0 nums">That's awesome!</p>
                </div>
                <small class="text-spacing">2 hours ago</small>
              </div>
            </div>
          </div>
          <div class="row list d-flex align-items-center border-bottom py-3 pb-4 pt-4">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC2.jpg" alt="">
            <div class="wrapper w-100 ml-3">
              <p class="mb-0 nums mt-4"><b class="num">Stella </b>posted in Material</p>
              <div class="row d-flex justify-content-between align-items-center last-cards-wid">
                <div class="row d-flex align-items-center Activity-spacing">
                  <i class="fa fa-clock-o text-muted"></i>
                  <p class="mb-0 nums">That's awesome!</p>
                </div>
                <small class="text-spacing">3 hours ago</small>
              </div>
            </div>
          </div>
          <div class="row list d-flex align-items-center border-bottom py-3 pb-4 pt-4">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC3.jpg" alt="">
            <div class="wrapper w-100 ml-3">
              <p class="mb-0 nums mt-4"><b class="num">Peter </b>posted in Material</p>
              <div class="row d-flex justify-content-between align-items-center last-cards-wid">
                <div class="row d-flex align-items-center Activity-spacing">
                  <i class="fa fa-clock-o text-muted"></i>
                  <p class="mb-0 nums">That's Great!</p>
                </div>
                <small class="text-spacing">1 hours ago</small>
              </div>
            </div>
          </div>
          <div class="row list d-flex align-items-center pt-3 pb-4">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC4.jpg" alt="">
            <div class="wrapper w-100 ml-3">
              <p class="mb-0 nums mt-4"><b class="num">Nateila </b>posted in Material</p>
              <div class="row d-flex justify-content-between align-items-center last-cards-wid">
                <div class="row d-flex align-items-center Activity-spacing">
                  <i class="fa fa-clock-o text-muted mr-1"></i>
                  <p class="mb-0 nums last-card-spacing">That's awesome!</p>
                </div>
                <small class="text-spacing">1 hours ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card card-l3-2">
        <div class="card-body" style="padding-bottom: 6%;">
          <h4 class="num">Recomended</h4>
          <div class="row wrapper d-flex align-items-center py-2 border-bottom">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC2.jpg" alt="profile">
            <div class="wrapper ml-3">
              <h6 class="ml-1 mb-1 num">Stella Davidson</h6>
              <small class="text-muted mb-0"><i class="fa fa-map-marker mr-1"></i>New York City, USA</small>
            </div>
            <div class="badge badge-tick1 ml-auto px-1 py-1"><i class="fa fa-check-circle"></i>
            </div>
          </div>
          <div class="row wrapper d-flex align-items-center py-2 border-bottom">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC4.jpg" alt="profile">
            <div class="wrapper ml-3">
              <h6 class="ml-1 mb-1 num">Daniel Russel</h6>
              <small class="text-muted mb-0"><i class="fa fa-map-marker mr-1"></i>Florida, USA</small>
            </div>
            <div class="badge badge-plus ml-auto px-1 py-1"><i class="fa fa-plus"></i>
            </div>
          </div>
          <div class="row wrapper d-flex align-items-center py-2 border-bottom">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC3.jpg" alt="profile">
            <div class="wrapper ml-3">
              <h6 class="ml-1 mb-1 num">Bruno King</h6>
              <small class="text-muted mb-0"><i class="fa fa-map-marker mr-1"></i>Arkansas, USA</small>
            </div>
            <div class="badge badge-tick2 ml-auto px-1 py-1"><i class="fa fa-check-circle"></i>
            </div>
          </div>
          <div class="row wrapper d-flex align-items-center py-2 border-bottom">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/faceC5.jpg" alt="profile">
            <div class="wrapper ml-3">
              <h6 class="ml-1 mb-1 num">David Moore</h6>
              <small class="text-muted mb-0"><i class="fa fa-map-marker mr-1"></i>Arizon, USA</small>
            </div>
            <div class="badge badge-plus ml-auto px-1 py-1"><i class="fa fa-plus"></i>
            </div>
          </div>
          <div class="row wrapper d-flex align-items-center py-2 mb-4">
            <img class="img-sm rounded-circle img-wid" src="/src/assets/face12.jpg" alt="profile">
            <div class="wrapper ml-3">
              <h6 class="ml-1 mb-1 num">Rafell John</h6>
              <small class="text-muted mb-0"><i class="fa fa-map-marker mr-1"></i>Alaska, USA</small>
            </div>
            <div class="badge badge-plus ml-auto px-1 py-1"><i class="fa fa-plus font-weight-bold"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card card-l3-3">
        <div class="card-body" style="padding-bottom: 28%;">
          <h4 class="num">Messages</h4>
          <div class="preview-list">
            <div class="row preview-item border-bottom px-0">
              <div class="preview-thumbnail">
                <img src="/src/assets/faceC4.jpg" alt="image" class="rounded-circle img-wid-last-card">
              </div>
              <div class="preview-item-content d-flex flex-grow">
                <div class="flex-grow">
                  <h6 class="preview-subject">Richard Joy
                    <span class="float-right small">
                      <span class="text-muted pr-3">13.06.2017</span>
                    </span>
                  </h6>
                  <p>Thanks for the support!</p>
                </div>
              </div>
            </div>
            <div class="row preview-item border-bottom px-0">
              <div class="preview-thumbnail">
                <img src="/src/assets/faceC5.jpg" alt="image" class="rounded-circle img-wid-last-card">
              </div>
              <div class="preview-item-content d-flex flex-grow">
                <div class="flex-grow">
                  <h6 class="preview-subject">William Alex
                    <span class="float-right small">
                      <span class="text-muted pr-3">08.07.2017</span>
                    </span>
                  </h6>
                  <p>Meeting is postponed</p>
                </div>
              </div>
            </div>
            <div class="row preview-item border-bottom px-0">
              <div class="preview-thumbnail">
                <img src="/src/assets/face12.jpg" alt="image" class="rounded-circle img-wid-last-card">
              </div>
              <div class="preview-item-content d-flex flex-grow">
                <div class="flex-grow">
                  <h6 class="preview-subject">David Grey
                    <span class="float-right small">
                      <span class="text-muted pr-3">15.07.2017</span>
                    </span>
                  </h6>
                  <p>Please approve the request</p>
                </div>
              </div>
            </div>
            <div class="row preview-item border-bottom px-0">
              <div class="preview-thumbnail">
                <img src="/src/assets/face11.jpg" alt="image" class="rounded-circle img-wid-last-card">
              </div>
              <div class="preview-item-content d-flex flex-grow">
                <div class="flex-grow">
                  <h6 class="preview-subject">Aleena Abraham
                    <span class="float-right small">
                      <span class="text-muted pr-3">12.06.2017</span>
                    </span>
                  </h6>
                  <p>Hope to see you tomorrow</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>