.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12.5px;
    margin-left: -12.5px;
}

.grid-margin {
    margin-bottom: 25px;
}


@media (min-width: 768px) {
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

.card {
    border: 1px solid #d5dcec;
    border-radius: 0px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.card-statistics{
    margin-left: 8%;
}

.card-order{
    margin-right: 8%;
}

small, .small {
    font-size: 80%;
    font-weight: 400;
}

.content-wrapper{
    background: #eff3f5;
}

.card-body{
    background-color: white;
}
.card .card-body {
    padding: 35px 25px;
}
/*  */

.icon-lg {
    font-size: 2.5rem;
}

.text-white {
    color: #fff !important;
}

.time-position{
    margin-left: 2%;
    margin-top: 5%;
}
.text-muted{
    padding-right: 1.7rem;
}
.last-cards-wid{
    width: 30rem;
}
/*  */
.Activity-text-space{
    margin-left: 4%;
}
.text-spacing{
    margin-left: 10%;
}
.Activity-spacing{
    margin-left: 5%;
}
.last-card-spacing{
    margin-left: 20%;
    margin-top: -12%;
}
.menu-space{
    margin-left: 70%;
    margin-top: 4%;
}
/*  */
.card-l1-1{
    width: 92%;
    margin-left: 12%;
}
.card-l1-2{
    margin-right: 3%;
    margin-left: 2%;
}
.card-l1-3{
    width: 92%;
    margin-left: -5%;
}
/*  */
.card-l2-1{
    width: 92%;
    margin-left: 12%;
}
.card-l2-2{
    margin-right: 3%;
    margin-left: 2%;
}
.card-l2-3{
    width: 92%;
    margin-left: -5%;
}
/*  */
.card-l3-1{
    width: 92%;
    margin-left: 12%;
}
.card-l3-2{
    margin-right: 3%;
    margin-left: 2%;
}

.card-l3-3{
    width: 92%;
    margin-left: -5%;
}

/*  */
.img-lg {
    width: 92px;
    height: 92px;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
/*  */

.list-input{
    border: 1px solid #d5dcec;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    padding: 0.56rem 0.75rem;
    width: 75%;
    padding-left: 4%;
    margin-left: 4%;
}
.border-top {
    border-top: 1px solid #d5dcec !important;
}
.btn-sm{
    border-color: #3940e2;
    background: #3940e2;
    color: #f3f5f6;
}

/*  */
.text-align{
    padding-left: 20%;
}
.text-facebook{
    color: #3b579d;
    font-size: large;
}
.text-linkedin{
    color: #0177b4;
    font-size: large;
}
.text-twitter{
    color: #1da1f2;
    font-size: large;
}

/*  */
.img-wid{
    width: 15%;
}
.img-wid-last-card{
    width:50%;
}
.border-bottom {
    border-bottom: 1px solid #d5dcec !important;
}
/*  */
.top-space{
    margin-top: -10%;
}
/* icon */
.badge-tick1{
    border: 1px solid #857bff;
    background: #857bff;
    color: #fff;
    margin-left: 40%;
}
.badge-tick2{
    border: 1px solid #857bff;
    background: #857bff;
    color: #fff;
    margin-left: 46%;
}
.badge-plus {
    border: 1px solid #4CCEAC;
    background: #4CCEAC;
    color: #fff;
    margin-left: 50%;
}